*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}
.google-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 100px auto;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main input{
    height: 50px;
    width: 400px;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    background-color: ;
    color: white;
    cursor: pointer;
    margin: 10px;
}