*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    
}
li{
    list-style-type: none;
}
li a{
    margin-left: 10px;
}

.google-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 100px auto;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 10px;
    color: gray;
}
.main input{
    height: 50px;
    width: 400px;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border:1px solid gray;
    color: white;
    cursor: pointer;
    margin: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    color: black;
    margin-top: 20px;
    padding: 80px;
}
footer h4{
    margin: 10px;
}