*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
   
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
}
.nav-link{
    margin-left: 5px;
    margin-top: 0;
    color: black;
}
.header{
    margin-bottom: 100px ;
}
nav{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin: 25px;
    
    
}
li{
    list-style-type: none;
}
li a{
    margin-top: 0;
    margin-left: 10px;
}

.google-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 30px;
    margin:auto;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    padding-top: 60px;
    margin-left:auto;
    margin-right: auto;
}
.mic{
    position: absolute;
    top: 295px;
    right: 445px;
    padding: -25px;
    width:14px;

}
.main input{
    background-image: url("./download.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    height: 40px;
    width: 550px;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border:0.5px solid #f2f2f2;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 0;
    padding-left: 40px;
}
 input:hover{
    /*box-shadow: rgba(250, 250, 250, 0.979);*/
    box-shadow: 0px 1px 3px rgba(3,3,3,0.2),
    0px 1px 3px rgba(3,3,3,0.2),
    0px 1px 3px rgba(3,3,3,0.2),
    0px 3px 6px rgba(3,3,3,0.2);;
    border: none;
    outline: transparent;
}

.lang{
    margin-left: 8px;
}
.button{
    padding: 10px;
}
button{
    display: inline-block;
    border-radius: 3px;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    color: gray;
    outline: none;
}
button:hover{
    outline: 2px solid transparent;
    cursor: pointer;
}
p{
    margin: 20px;
    font-size: 14px;
    padding: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    color: rgb(153, 152, 153);
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin:0;
    padding: 5px;
   
}

footer h4{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 25px;
    float: left;
}

.top a, .bottom a{
    margin: 0 15px;
    color: black;
    color: rgb(153, 152, 153);
}
.bottom{
    margin-top: 20px;

}
@media only screen and (max-width:768px){
    .main input{
        height: 45px;
        width: 570px;
    }
    .mic{
        position: absolute;
        top: 295px;
        right: 60px;
    
    }
}